
.hero-contain{
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1500px
}

#hero-title{
    font-size: 150%;
    margin: 1.5em 0 1em;
    color: #2d6c76
}

.shortcuts-contain{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: 1em auto;
    width: 100%;
}

.shortcuts{
    max-width: 12em;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em;
    box-shadow: 0px 5px 10px rgb(167, 167, 167);
    transition: .2s
}
.shortcuts:hover{
    box-shadow: 0px 6px 15px rgb(167, 167, 167);
}

.shortcuts-title{
    position: absolute;
    color: white;
    text-shadow: 1px 0 10px rgb(52, 52, 52);
    font-size: 1.5em;
    font-weight: bold;
    transition: .1s
}
.shortcuts:hover .shortcuts-title{
    font-size: 2em;
    cursor: pointer
}


.shortcuts:hover #shortcut-img{
    filter: brightness(80%)
}

#shortcut-img{
    border-radius: 50%;
    max-width: 12em;
    width: 100%;
    transition: .5s
}

@media (max-width: 500px){
    .shortcuts-title{
        font-size: 1em
    }
    .shortcuts:hover .shortcuts-title{
        font-size: 1.5em
    }
}