.header-contain{
    color: white;
    font-size: 16px;
    margin: 0 auto;
    width: 90%;
}

.title img{
    width: 200px;
}
.title h1{
    font-size: 300%;
    margin: 0 auto;
    width: 80%;
    background: #50B2C0;
    padding: .2em 0;
    border-radius: 1rem;
}


.nav-contain{
    background-color: #33656d;
    box-shadow: 0 0 10px #ddd;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px){

.header-contain{
    color: white;
}

.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title img{
    width: 30%;
    max-width: 210px;
    padding: .5em .2em
}

.title h1{
    margin: 0;
    width: 100%;
    background: #50B2C0;
    padding: .2em 0;
}

/* NAVBAR  */

    .nav-contain{
        background-color: #33656d;
        box-shadow: 0 0 10px #ddd;
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }
    
    .nav-ul{
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em 0 0 0
    }
    
    .nav-ul li{
        width: 90%;
        padding: .7em;
        color: white;
        font-weight: bold;
    }
    .nav-ul li:hover{
        background-color: #50B2C0;
        /* color: #33656d; */
    }
    
    .toggle-menu{
        position: absolute;
        right: 2em;
        width: 25px;
        height: 20px;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .bar{
        height: 3px;
        width: 100%;
        background-color: #50B2C0;
        border-radius: 10px
    }
} 